* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 100px;
}

h1 {
    color: rgb(190, 194, 198);
    font-size: 70px;
}


.box {
    background-color: black;
    width: 340px;
    height: 560px;
    border-radius: 20px;
}